<!-- templates/index.html -->

{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h1>Welcome to LivelyGrit</h1>
    <p>
        We are a startup company dedicated to helping people achieve their goals, stay productive, and lead fulfilling lives. Our web and mobile application is designed to motivate and empower individuals to manage their time, health, and overall well-being effectively.
    </p>
    <p>
        Whether you want to boost your productivity, stay motivated, or find a better work-life balance, LivelyGrit is here to support you on your journey towards success and happiness.
    </p>
    <p>
        Get started today and join the LivelyGrit community!
    </p>
{% endblock %}
