/* Сmain page */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

/* main sections */
main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
}
